/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body { }

/*********************
LINK STYLES
*********************/
a, a:visited {


	// Adds highlight on hover
	&:hover, &:focus {

	}

	// On click
	&:active {

	}

	// Mobile tap color
	&:link {
		/*
		This highlights links on iPhones/iPads.
		Similar to the :hover selector for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
p {}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.hentry {

	header {}

	footer {}

}

.single-title,
.page-title {}

.single-title {}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
		}

} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/

#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
		background: $secondary-color;
	}

	li.depth-2 {}
	li.depth-3 {
		background: darken($secondary-color, 5%);
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		@include button($padding: $button-sml);
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// no comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	#searchsubmit {
	}

	.widgettitle {}

	.widget {
		ul {
			margin: 0;

			li {
				list-style: none;

				&:first-child {}

				&:last-child {}

				a {}

				// deep nesting  
				ul {}

			}

		}
		@media #{$medium-up} {
			padding: 0 10px;
			margin: 2.2em 0;
  		}

	}

#sidebar-offcanvas {
	.widgettitle {
		color: #fff;
	}	
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	margin-top: 1em;
}

.footer-links {} 

.copyright {}
	
/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
	background: none;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}









// My styles

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform:uppercase;
	font-weight:600;
	span {
		font-weight:800;
	}
}

h1 {
	font-size:2.6em;
	@media(max-width:800px){
		font-size: 2em;
	}
}
h2 {
	font-size:2.2em;
	@media(max-width:800px){
		font-size: 1.6em;
	}
}
h3 {
	font-size:1.6em;
	@media(max-width:800px){
		font-size: 1.2em;
	}
}
h4 {
	font-size:1.4em;
	@media(max-width:800px){
		font-size: 1.1em;
	}
}
h5 {
	font-size:1.2em;
	@media(max-width:800px){
		font-size: 1em;
	}
}
h6 {
	font-size:1em;
	@media(max-width:800px){
		font-size: .8em;
	}
}

body {
	background:url('/wp-content/uploads/headerbg.jpg') top center no-repeat;
	font-weight:200;
}

body.home {
	background:none;
}

.header {
  margin: 0 0 20px 0;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.6);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  	
  	.contain-to-grid {
  		background:none;
  		padding:35px 0;
  		position: relative;
  		@media(max-width:640px){
		  	padding:10px;
		}
  		
  		.top-bar {
		  background: none;

		  .name img {
		  	max-width: 350px;
		  	@media(max-width:768px){
		  		max-width: 300px;
		  		padding:3px;
		  	}
		  	@media(max-width:480px){
		  		max-width: 205px;
		  		padding:10px 5px;
		  	}
		  }

		}
	}

}

.custom-slider .timer {
	display:none;
}

#content {
	margin-top:130px;
	#inner-content {
		background:#fff;
		padding:10px;
	}
}

.home #content {
	margin-top:0;
}

.row {
	max-width:70em;
	@media(max-width:1150px){
		max-width: 90%;
	}
}

p {
	font-size:0.8em;
	line-height:1.7em;
}

.single {
	.product {
		margin-top:30px;
		.product_title {
			font-size:1.4em;
		}
		.price {
			.amount {
				color:#111;
				font-size: 1.2em;
			}
		}
		.product_meta {
			font-size: 0.8em;
		}
		.wc-tab {
			padding:20px !important;
			h2 {
				font-size:1.6em;
			}
		}
		.variations .label {
		  background-color:transparent;
		  font-size: 0.6em;
		  padding: 15px 0 0;
		}
	}
}


.page-title {
	font-size:1.8em;
	padding:15px 0;
}



.top-bar-section ul .divider, 
.top-bar-section ul [role="separator"] {
  border-right: none;
}

.top-bar-section ul li {
  background: none;
}

.top-bar-section ul li > a {
  font-size: 0.73rem !important;
  text-transform: uppercase !important;
  font-weight: 600;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  padding: 0 0.7375rem !important;
}

@media(max-width:768px){
	.product-boxes {
		padding:0 !important;
		margin:0;
	}
}

.home ul li.product-category {
	border:solid 5px #CCC;
	height:149px;
	overflow:hidden;
	width:32% !important;
	margin:0 1% 1% 0 !important;	
	transition:all 0.4s ease;
	@media (max-width:768px){
		width:32% !important;
		clear: none !important;
	}
	@media (max-width:560px){
		width:49% !important;
		clear: none !important;
	}
	a {
		img {
			position:absolute;
			top:85px;
			padding:0 !important;
			border:none !important;
			width: inherit !important;
		}
		h3 {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			font-size: 0.75em !important;
			padding: 60px 0 0 0 !important;
			position: relative !important;
			text-align: center !important;
			top: 0 !important;
			width: 100% !important;
			color:#999;
			transition:all 0.4s ease;
			height: 80px;
			.count {
				display: none;
			}
		}
	}
}

.home ul li.product-category:hover {
	border:solid 5px #555;
	a {
		h3 {
			color:#000;
		}
	}
}

.tax-product_cat ul li.product-category {
	border:solid 5px #CCC;
	text-align:center;
	h3 {
		margin-top:-10px !important;
	}
	mark {
		background:none;
		font-size:0.7em;
		color:#999;
	}
}

.banner {
	border-top:solid 1px rgba(0,0,0,0.1);
	border-bottom:solid 1px rgba(0,0,0,0.1);
	padding: 25px 0;
	margin: 20px 0;
	@media (max-width:560px){
		border-top:none;
		padding:0 0 25px 0;
		margin:0 0 20px 0;
		img {
			display: none;
		}
	}
}

.subslidertext {
	margin:25px 0 40px 0;
}

.hottest-products h3 {
	float:left;
	height:45px;
	@media (max-width:560px){
		float:none;
		margin:0 auto;
		text-align: center;
	}
}

.google-map {
	padding:0 !important;
}

.hottest-categories {
	margin:5px 0 0 0;
	padding:0;
	text-align:right;
	float:right;
	height:45px;
	@media (max-width:560px){
		float:none;
		margin:0 auto 15px auto;
		text-align: center;
	}
	li {
		list-style: none;
		display: inline;
		text-align: right;
		margin-left:15px;
		@media (max-width:560px){
			margin:0 6px;
		}
		a {
			font-weight:normal;
			text-transform: uppercase;
			font-size: 0.7em;
			color:#666;
			@media (max-width:560px){
				font-size: 0.65em;
			}
		}
	}
}

.wpcf7-form {
	br {
		display: none;
	}
	.wpcf7-form-control-wrap {
		float: left;
		width: 48%;
		margin:1% 2% 0 0;
		input {
			padding: 11px !important;
		}
	}
	.talktous {
		width:98%;
	}
}


ul li.type-product {
	margin-top:20px;
	min-height:285px;
	@media (max-width:768px){
		width:49% !important;
	}
	@media (max-width:480px){
		width:99% !important;
	}
	h3 {
		font-size: 0.8em !important;
		padding:10px !important;
		background:#ddd;
		margin-top:-18px !important;
		width:100%;
		float: none;
		height:auto;
		text-align: center;
	}
	.price {
		font-size: 1em !important;
		padding:10px;
		background:#ddd;
		color:#000;
		text-align: center;
		margin-bottom: -10px !important;
		.amount {
			color:#000;
		}
	}
	.button {
		font-size: 0.7em !important;
		padding:20px 10px;
		background:#ddd;
		margin-top:-2px !important;
		display:block;
	}
}


table {
	width:100%;
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
	background:none !important;
}

.instagram-footer {
	margin-top:20px;
	display:block;
	clear:both;
	
	h5 {
		padding:15px 15px 0 15px !important;
		a {
			color:#000;
		}
	}
	#sb_instagram #sbi_load .sbi_load_btn, 
	#sb_instagram .sbi_follow_btn a {
	  display: inline-block;
	  margin: 5px auto 0;
	  padding: 7px 14px;
	  background:none;
	  border:none;
	  color:#666;
	  font-size:0.8em;
	  transition:all 0.4s ease;
	}
	#sb_instagram #sbi_load .sbi_load_btn:hover, 
	#sb_instagram .sbi_follow_btn a:hover {
	  color:#000;
	}
}

#sidebar1 {
	margin:-10px 0 0 -10px !important;
	padding:0;
	float:left;
	@media(max-width:640px){ 
		margin:40px auto 0 auto !important;
	}
	.widget {
		margin:0;
		padding:20px 15px 70px 15px;
		h4.widgettitle {
			font-size: 1.0em;
			margin-bottom:20px;
		}
		ul {
			li {
				a {
					color:#000;
					font-size:0.8em;
				}
			}
		}
	}
	.widget_shopping_cart {
		background:#222;
		padding:20px 15px;
		h4 {
			color:#fff;
		}
		.cart_list {
			a {
				font-size: 0.85em;
				color: #fff;
				text-transform: uppercase;
			}
			.quantity {
				color: #fff;
				font-size: 0.7em;
			}
		}
		h4.widgettitle {
			font-size: 1.0em;
			margin-bottom:20px;
		}
		.total {
			font-weight: 600;
			color: #fff;
			font-size:0.8em;
			text-transform: uppercase;
			border-top:solid 1px rgba (0,0,0,0.1) !important;
		}
		.buttons {
			text-align: center;
		}
	}
	.widget_search {
		background:#EEE;
		margin:-25px 0 0 0 !important;
		padding:20px 15px 70px 15px;
		label {
			span {
				font-size:1em; 
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom: 15px !important;
				display: block;
			}
		}
		input {
			float: left;
			width: 80%;
		}
		.button {
			float: right;
			width: 20%;
			padding:10px;
			font-size: 0.82em;
		}
	}	
}

.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
  border-top: 1px solid #333 !important;
}

h3.page-list-ext-title {
	font-size:1em;
}

.footer {
	background:#000;
	font-weight:normal;
	h6 {
		padding:40px 0 0 15px;
		font-size: 0.9em;
		color: #fff;
	}
	img {
		padding:18px 0 0 0;
	}
	ul {
		padding:20px 0 15px 0;
		li {
			list-style:none;
			color:#fff;
			font-size: 0.7em;
			padding:5px 0;
			h6 {
				padding:15px 0 0 0;
				font-size: 1.3em;
			}
			a {
				color:#ccc;
				font-size: 1em;
				font-weight: normal;
				i {
					font-size: 2em;
					margin-right:10px;
				}
			}
			a:hover {
				color: #fff;
			}
		}
		li.address {
			padding:13px 0 0 40px;
			line-height: 2em;
		}
	}
	.copyright {
		color:#fff;
		font-size: 0.7em;
		padding-left:20px;
		a {
			color: #fff;
		}
	}
	#respond input#submit, 
	a.button, 
	button.button, 
	input.button {
	  background-color:#008cba;
	  border-radius:0;
	  color:#fff;
	  padding: 1rem 2rem 1.0625rem;
	}
}

@media(max-width:1024px){
	.data-block-one,
	.data-block-two,
	.data-block-three {
		h6 {
			background:url(/wp-content/uploads/plus-icon.png) center right no-repeat;
			width: 100%;
			display: block;
			padding:10px 15px;
			cursor: pointer;
			color:#ccc;
		}
		h6:hover {
			color:#fff;
		}
		.data-collapse {
			display:none;
		}
		.show {
			display: block;
		}
	}
}

#om_container {
	margin-bottom:-25px;
}

@media(max-width:800px){ 
	#sb_instagram.sbi_col_3 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_6 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_7 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_8 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_9 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_10 #sbi_images .sbi_item {
	  width: 25%;
	}
	iframe {
		height:280px !important;
	}
	.entry-content p a img {
		margin:0 auto 15px auto;
	}
}

@media(max-width:480px){ 
	iframe {
		height:200px !important;
	}
}

@media(max-width:360px){ 
	iframe {
		height:170px !important;
	}
}


.footer-btn  {
  padding: 0;
  width: 100%;
  display: block;
  height: 37px;
}



.top-bar.expanded {
	.title-area {
		background:none;
	}
	#menu-main-menu {
		background:rgba(0,0,0,0.5);
		padding:0;
		.divider {
			border-top:solid 1px rgba(255,255,255,0.1);
		}
		li.menu-item a {
			padding:15px !important;
		}
	}

}

.top-bar .toggle-topbar.menu-icon {
  margin-top: -25px;
  top: 50%;
}

.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;  
  a {
  	border:solid 2px rgba(255,255,255,0.6);
  	padding:5px 7px !important;
  	line-height: 1 !important;
  	color:rgba(255,255,255,0.7);
  	transition:all 0.5s ease;
  	font-size: 0.7em;
  	img {
  		margin-bottom: 5px;
  		opacity: 0.7;
  		transition:all 0.5s ease;
  	}
  }
  a:hover {
  	border:solid 2px rgba(255,255,255,1);
  	color:rgba(255,255,255,1);
  	img {
  		opacity: 1;
  	}
  }
}

ul.products li.product .price {
  color: #000 !important;
}

div.product span.price, 
div.product p.price {
  color: #000 !important;
  font-size: 1.2em;
  font-weight: bold;
  margin: 25px 0;
}

.related {
		.price {
		  margin:0 !important;
		}
}

@media(max-width:800px){
	.page-title {
	  font-size: 1.3em;
	  padding: 15px 0;
	}
	.woocommerce ul.products li.product h3 {
	  font-size: 0.85em;
	  margin: 0;
	  padding: 0.5em 0;
	}
	.tabs li a {
  	  font-size: 0.7em;
	}
	.single .product .wc-tab h2 {
	  font-size: 1.1em;
	}
	.related {
		h2 {
			font-size: 1.1em !important;
		}
		div.product span.price, div.product p.price {
		  margin:0 !important;
		}
	}
}

.top-menu-links {
	position: absolute;
	right: -23px;
	top: -30px;
	ul {
		margin:0;
		padding:0;
		li {
			margin:0;
			padding:0;
			display: inline;
			list-style: none;
			a {
				padding:0 0 0 12px;
				color:#fff;
				font-size: 0.58em;
				text-transform: uppercase;
			}
		}
	}
	@media(max-width:1024px){
		right:60px;
	}
	@media(max-width:900px){
		right: -23px;
		top: -30px;
	}
	@media(max-width:640px){
		display:none
	}
}


.search-form {
	position: absolute;
	right: -23px;
	top: 0;
	z-index:99999;
	@media(max-width:1024px){
		top:-35px;
		right:10px;
	}
	@media(max-width:900px){
		top:0px;
		right:10px;
	}
	@media(max-width:640px){
		display:none
	}
}

.search-field {
	background-color: transparent !important; 
	background-image: url(http://www.clker.com/cliparts/n/U/H/1/H/u/search-icon-white-one-hi.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	border: none !important;
	cursor: pointer;
	height: 37px;
	margin: 0;
	padding: 10px;
	position: relative;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 0 !important;
	box-shadow:none;
}

::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }

.search-field:focus {
	background-color: #fff !important;
	border: 1px solid #666 !important;
	cursor: text;
	outline: 0;
	width: 230px !important;
}

.search-submit {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

.footer-search-form {
	width:90%;
	margin:0 0 0 25px !important;
	float:none;
}


.woocommerce ul.products li.product a img {
  margin: 0 auto 25px auto;
  max-height: 200px;
  padding: 10px;
  width: auto;
}

.woocommerce ul.products li.product {
  border: 1px solid #ddd;
}

.woocommerce div.product div.images img {
  margin: 0 auto;
  max-height: 450px;
  width: auto;
}



mark.count {
	display:none;
}